/* ZOOM CARD DAN ANIMASINYA*/
.kartu:hover {
	transform: scale(1.2);
}

.kartu {
	transition: .3s;
}
/* AKHIR ZOOM CARD DAN ANIMASINYA */

.img-cover{
	object-fit: cover;
	object-position: center;
}

/* AGAR TEXT DALAM BENTUK VERTIKAL DI KARTU IKLAN  */
.text_vertikal {
	width: 1px;
	word-wrap: break-word;
	white-space:pre-wrap; 
}
/* AGAR TEXT DALAM BENTUK VERTIKAL DI KARTU IKLAN */